* {
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

:root {
    --white: hsl(0, 0%, 100%);
    --lightGreyViolet: hsl(270, 3%, 87%);
    --darkGreyViolet: hsl(279, 6%, 55%);
    --veryDarkGreyViolet: hsl(278, 68%, 11%);
}
body {
    margin: 0;
    background-image: url(/images/bg-main-desktop.png);
    background-repeat: no-repeat;
}
main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#mainContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 7rem;
}
#secondaryContainer {
    max-width: 24rem;
}
#cardDetails {
    display: flex;
    flex-direction: column;
}
#cardDetails input {
    width: 100%;
    padding: 0.9rem;
    border: 1px solid silver;
    border-radius: 0.5rem;
}
div.secondaryContainer:nth-child(2) {
    display: flex;
    flex-direction: column;
}
#cardSecurityDetails form{
    display: flex;
    flex-wrap: nowrap;
}
#cardSecurityDetails label {
    display: block;
}
#cardDates {
    width: 40%;
}
#cardDates input {
    width: 4.4rem;
    border-radius: 0.5rem;
    border: 1px solid silver;
    padding: 0.9rem;
}
#cardDates > input:nth-child(3){
    margin-left: 0.5rem;
}


div.secondaryContainer:nth-child(2) > img:nth-child(1){
    margin-right: 6rem;
}

button {
    width: 100%;
    padding: 0.9rem;
    border-radius: 0.5rem;
    border: hidden;
    cursor: pointer;
    background-color: var(--veryDarkGreyViolet);
    color: var(--white);
}
input, label {
    margin-bottom: 1rem;
}

#thirdContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

#thirdContainer .frontCard {
    width: 32rem;
    height: 18rem;
    background-image: url(/images/bg-card-front.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0.5rem;

}
#thirdContainer .rearCard {
    margin: 3rem 0 0 5rem;
    width: 30rem;
    height: 16rem;
    background-image: url(/images/bg-card-back.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0.5rem;
}
.cardDetailsDisplay {
    padding: 2rem 2rem 0 2rem;
    color: var(--white);
}

#cardDetailsBottom p {
    margin-top: 2.5rem;
}
.longNumber {
    margin-bottom: 0;
    font-size: 1.8rem;
    margin-top: 0;

}

#cardDetailsBottom {
    display: flex;
    justify-content: space-between;
}
.cvc {
    margin: 7.3rem 0rem 5rem 25rem;
}
#cvcCode {
    margin-left: auto;
}

.cardLogo {
    margin-bottom: 3rem;
}
.expiryDate {
    margin-left: auto;
}

