* {
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

:root {
    --white: hsl(0, 0%, 100%);
    --lightGreyViolet: hsl(270, 3%, 87%);
    --darkGreyViolet: hsl(279, 6%, 55%);
    --veryDarkGreyViolet: hsl(278, 68%, 11%);
}
body {
    margin: 0;
    background-image: url(/images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: 40%;
}
main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#mainContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 9rem;
}
#secondaryContainer {
    max-width: 24rem;
}
#cardDetails {
    display: flex;
    flex-direction: column;
}
#cardDetails input {
    width: 100%;
    padding: 0.9rem;
    border: 1px solid silver;
    border-radius: 0.5rem;
    margin-top: 0.4rem;
}
div.secondaryContainer:nth-child(2) {
    display: flex;
    flex-direction: column;
}
#cardSecurityDetails{
    display: flex;
    flex-wrap: wrap;
}
#cardSecurityDetails label {
    display: block;
}
#cardDates {
    width: 40%;
}
#cardDates label {
    margin-bottom: 0.2rem;
    margin-top: 0.5rem;
}
#cardDates input {
    width: 4.4rem;
    border-radius: 0.5rem;
    border: 1px solid silver;
    padding: 0.9rem;
    margin-top: 0.4rem;
}
#cardDates > input:nth-child(3){
    margin-left: 0.5rem;
}

div.secondaryContainer:nth-child(2) > img:nth-child(1){
    margin-right: 6rem;
}

button {
    display: block;
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: hidden;
    cursor: pointer;
    background-color: var(--veryDarkGreyViolet);
    color: var(--white);
    margin-top: 1rem;
    font-size: 1rem;
}
input, label {
    margin-bottom: 1rem;
}

input {
    margin-bottom: 1.5rem;

}
input:focus:invalid {
    border: 1px red solid;
    outline: 2px red solid;
}


label {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;
}

#thirdContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

#thirdContainer .frontCard {
    width: 30rem;
    height: 16rem;
    background-image: url(/images/bg-card-front.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0.5rem;

}
#thirdContainer .rearCard {
    margin: 2.5rem 0 0 5rem;
    width: 30rem;
    height: 16rem;
    background-image: url(/images/bg-card-back.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0.5rem;
}
.cardDetailsDisplay {
    padding: 2rem 2rem 0 2rem;
    color: var(--white);
}

#cardDetailsBottom p {
    margin-top: 2rem;
}
.longNumber {
    margin-bottom: 0;
    font-size: 1.7rem;
    margin-top: 1rem;
    letter-spacing: 3px;

}

#cardDetailsBottom {
    display: flex;
    justify-content: space-between;
}
.cvc {
    margin: 7.7rem 0rem 5rem 25rem;
    font-size: 1rem;
    color: var(--white);
}

#cvcCode {
    margin-left: auto;
}
Input:invalid:not(:focus){
    border: none;
    outline: 1px solid red;
    border-radius: 5px;
}

#cvcCode label {
    margin: 0.5rem 0 0.2rem 0;
}
#cvcInput {
    margin-top: 0.4rem;
}

.cardLogo {
    margin-bottom: 2.8rem;
}
.expiryDate {
    margin-left: auto;
}
.nameCard {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9rem;
}
@media only screen and (max-width: 600px) {
    #mainContainer {
        flex-direction: column-reverse;
    }
    body {
        background-image: url(/images/bg-main-mobile.png);
        background-size: contain;
    }
    #thirdContainer .frontCard, #thirdContainer .rearCard {
        width: 10rem;
        height: 10rem;
    }
    #thirdContainer {
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
        padding-top: 1.8rem;
        position: relative;
    }
    #thirdContainer .rearCard{
        min-width: 75%;
        margin: 0 0 2rem 2.2rem;
    }
    #thirdContainer .frontCard {
        min-width: 75%;
        margin: 0;
        position: absolute;
        top: 7.5rem;
        right: 4.5rem;
    }
    .cardDetailsDisplay {
        padding: 0;
    }
    .nameCard {
        font-size: 0.7rem;
        font-size: 1rem;
    }
    .longNumber {
        margin-top: 3rem;
        text-align: center;
        font-size: 1.1rem;
    }
    .expiryDate  {

        margin: 0;
    }
    .cardLogo {
        margin: 1rem 0 0 1rem;
        width: 3.5rem;
    }
    #cvcCode {
        margin-left: 0;
        width: 11rem;
    }

    #cardDetails {
        padding: 1.5rem;
    }
    #cardDates {
        width: 10rem;
    }
} 
/* 
@media only screen and (max-width: 1240px) {
    body {
        background-size: contain;
    }
} */